PyYAML==6.0.2
pydantic==2.11.7
pymongo==4.13.2
langchain==0.3.26
langchain-openai==0.3.28
langchain-community==0.3.26
langchain-mcp-adapters==0.1.8
langgraph==0.5.2
streamlit==1.46.1
coloredlogs==15.0.1
requests==2.31.0
chainlit==2.6.2